<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>あなたの名前は、<%= name %>。</p>
    <p>メールアドレスは、<%= mail %>です。</p>
  </body>
</html>
